{% extends 'base.html' %}


{% block content %}

    {% if user.is_authenticated %}

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">created_at</th>
      <th scope="col">first_name</th>
      <th scope="col">last_name</th>
      <th scope="col">email</th>
      <th scope="col">address</th>
      <th scope="col">city</th>
      <th scope="col">state</th>
      <th scope="col">zipcode</th>
    </tr>
  </thead>
  <tbody>
    
    
    {% if records %}
      
      {% for record in records %}
      <tr>
         <td><a href="{% url 'record' record.id %}" > {{record.id}}</a></td>
         <td> {{record.created_at}}</td>
         <td>  {{record.first_name}}
               {{record.last_name}}</td>
          <td> {{record.email}}</td>
          <td> {{record.phone}}</td>
          <td> {{record.address}}</td>
          <td> {{record.city}} </td>
          <td> {{record.state}}</td>
          <td>{{record.zipcode}}</td>
      </tr>
      {% endfor %}
        
    {% endif %}
  </tbody>
</table>    
    {% else %}
    <div class="col-md-5 offset-md-3">
    <h1>Login</h1>
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
       
            <div class="mb-3">
              <input type="text" class="form-control" name="username" placeholder="username" required >
            <div class="mb-3">
                <br>
              <input type="password" class="form-control" name="password" placeholder="password" required   >
            </div>
            <button type="submit" class="btn btn-secondary">Login</button>
         
          </div>
    </form>

{% endif %}

{% endblock content %}
    
