{% extends 'base.html' %}


{% block content %}

<div class="col-md-6 ">
<div class="card">
    <div class="card-header ">
     <strong>Customer Info:</strong> 
    </div>
    <div class="card-body">
      <p class="card-text">
          <strong>Nmae</strong> {{customer_record.first_name}} {{customer_record.last_name}}
          </p>
      <p class="card-text">
          <strong>Email</strong> {{customer_record.email}}
          </p>
      <p class="card-text">
          <strong>phone</strong> {{customer_record.phone}}
          </p>
      <p class="card-text">
          <strong>address</strong> {{customer_record.address}}
          </p>
      <p class="card-text">
          <strong>city</strong> {{customer_record.city}} 
          </p>
      <p class="card-text">
          <strong>zipcode</strong> {{customer_record.zipcode}}} 
          </p>
      <p class="card-text">
          <strong>state</strong> {{customer_record.state}}
          </p>
          </div>
          </div>
          </div>
<br><br>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>          
<a href="{% url 'delete_record' customer_record.id %}" class="btn btn-danger">Delete</a>          
<a href="{% url 'update_record' customer_record.id %}" class="btn btn-danger">Update</a>          
          
        
          
   
          
          
{% endblock content %}